body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

h1 {
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 0.1em;
}

h1 img {
  position: relative;
  top: 5px;
  margin-right: -4px;
  padding-left: 20px;

}

.headshot-container {
  max-width: 240;
  max-height: 240;
  overflow: hidden;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}

.guess-option {
  padding: 0.5em;
}

.check {
  overflow: hidden;
  max-width: 25px;
  width: 25px;
  display: inline-block;
}

.check img {
  max-width: 50px;
  width: 50px;
}

.check.none {
  opacity: 0;
}

.check.yes {

}

.check.no img{
  margin-left: -25px;
}
