body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   padding: 20px;
}

h1 {
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 0.1em;
}

h1 img {
  position: relative;
  top: 5px;
  margin-right: -4px;

}

.score {
  padding: 20px 25px;
}

.headshot-container {
  max-width: 180;
  max-height: 180;
  overflow: hidden;
  padding-left: 25px;
  padding-bottom: 20px;
}
.headshot-container img {
  max-width: 180;
  max-height: 180;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}

.guess-option {
  text-transform: capitalize;
}

.check {
  overflow: hidden;
  max-width: 25px;
  width: 25px;
  display: inline-block;
}

.check img {
  max-width: 50px;
  width: 50px;
}

.check.none {
  opacity: 0;
}

.check.yes {

}

.check.no img{
  margin-left: -25px;
}

.footer {
  position: fixed;
  bottom: 20;
  left: 20;
}
